<!DOCTYPE html>
<html>

<head>
    <title>Register GeoJSON</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <header class="main-header">
        <div class="logo-box">
            <a href="https://vedas.sac.gov.in" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/vedas_logo.png" alt="VEDAS" />
            </a>
        </div>
        <h1 class="dashboard-title">Register Page</h1>
        <div class="logo-box">
            <a href="https://www.isro.gov.in/" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/rightside.png" alt="ISRO" />
            </a>
        </div>
    </header>

    <main class="main-container">
        <div class="container">
            <!-- <form method="POST" enctype="multipart/form-data">
                <label for="geojson">Upload GeoJSON File:</label>
                <input type="file" name="geojson" accept=".geojson" required />
                <button type="submit" class="button">Save</button>
            </form> -->
        </div>
    </main>

    <footer class="footer">
        © 2025 VEDAS, SAC, ISRO, Government of India | All Rights Reserved
    </footer>
</body>

</html>